page-shopping-list {
    h1{
        font-family:hind;
        font-size:36px;
        font-weight: bolder;
        margin-left: 10px;
        margin-bottom: 0;
        padding-bottom:20px;
    }

    h2{
        padding-top:6px;
        color: rgb(56, 56, 56);
    }

    h4{
        font-size: 20px;
        font-weight: bolder;
    }

    .highlight{
        box-shadow: 0px 0px 0 rgba(0, 0, 0, 1), 0 0px 4px 0 #03ddfa !important;
        // box-shadow: 0 5px 15px rgb(3, 221, 250) !important;
        background: rgb(3, 221, 250) !important;    
        color:white !important;
        p{
            color: white !important;
        }
    }
    p{
        font-size: 12px;
        font-family: hind;
        font-weight: bolder;
        color: gray;
    }

    .inner{
        width:600px;
        height: 100%;
    }

    .scroll-content{
        padding-top:35px !important;
    }

    #sloter{
        height: 6.4rem !important;
        width: 6.2rem;
        padding:0 !important;
        box-shadow: none;
        margin: 0.4rem 0.8rem;
        border-radius: 15px;
    }
    
    .bton{
        background:rgb(3, 221, 250);
        // box-shadow:none !important;
        border-radius: 6px;
        font-size: 18px;
        padding: 25px 14px;
        box-shadow: none;
        
        p{
            color:white !important;
            font-size: 18px;
        }
        // box-shadow: 0px 0px 0 rgba(0, 0, 0, 1), 0 0px 4px 0 #03ddfa !important;
    }

    // It starts from here!
    .card-3 {
        // box-shadow: none;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
      }
      
      ion-card {
          border-radius: 25px !important;
          margin-bottom:30px !important;
          padding:0 !important;
      }
      ion-card-content {
          padding: 0 !important;
      }
      .gridLock {
          padding:0px !important;
      }
      .gridRow {
          padding: 0px !important;
      }
    //   ion-col {
          
    //   }
      .dater {
        padding: 34px 24px !important;
        padding-left: 24px !important;
        background: linear-gradient(to right, #5feff7 0%, #10f7eb 100%) !important;
      }
      .dater1 {
        padding: 34px 24px !important;
        padding-left: 24px !important;
        // background: linear-gradient(to right, #5feff7 0%, #10f7eb 100%) !important;
      }

      h2 {
          font-family: varela;
          font-weight: bold !important;
      }

      .cardh {
          font-size: 20px !important;
      }

      .weekday {
        font-size: 30px;
        margin-bottom: 19px;
        margin-top: 10px;
      }

}
